// Loader
.loader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

// overflow with scroll bar
.overflowScroll {
    overflow-y: scroll;


    &::-webkit-scrollbar {
        // for chrome hide scroll bar
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        box-shadow: none;
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #008080;
        outline: 1px solid #008080;
        border-radius: 10px;
    }
}

